.container {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 70px;
}

.list_link {
    background-color: #87CEEB;
    padding: 7px;
    cursor: pointer;
    border-radius: 15px;
}

li {
    color: black;
}